.about {

    &__heading {
        padding-top: 12.9rem;
        margin-bottom: 4.5rem;
    }

    &__content {
        display: flex;
        padding-left: 10rem;
        padding-bottom: 15.3rem;

        
        &-img {
            margin-right: 4rem;
            @include respond (tab-port) {
                display: none;
            }
        }

        &-text {
            padding-top: 2rem;
            font-size: 1.7rem;
            font-weight: 500;
            max-width: 55.7rem;
            @include respond (tab-port) {
                font-size: 3rem;
                margin: 0 auto;
            }
            @include respond (md-phone) {
                font-size: 2.7rem;
            }
            
            p {
                margin-bottom: 3rem;
            }
            ul li{
                list-style: disc;
                margin-bottom: 3rem;
            }
        }
    }
}