.quiz__heading {
    font-size: 2.4rem;
    max-width: 56rem;
}

.hud__quest {
    display: flex;
    
}

.hud-prefix {
    font-size: 1.4rem;
    color: #cce2f5;
    font-weight: 700;
    @include respond(sm-phone) {
        font-size: 3rem;
     }
}


.choice__wrap {
    display: grid;
    grid-template-columns: 10rem 10rem;
    grid-row-gap: 4rem;
    grid-column-gap: 10rem;
    @include respond(sm-phone) {
        grid-column-gap: 20rem;
     }
}

.choice-container {
    width: 12.5rem;
    height: 8.6rem;
    background-color: #cce2f5;
    border-radius: 5px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2.2rem;
    @include respond(sm-phone) {
        width: 26rem;
        height: 12rem;
        font-size: 2.5rem;
     }

    &:hover {
        cursor: pointer;
        border: 1px solid rgb(6, 103, 247);
        transition: border 100ms;
    }

    &:active {
        transform: translateY(2px);
        transition: transform .5s;
    }
}


#progressBar {
    width: 56rem;
    height: 6px;
    background-color: #CCE2F5;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 2.8rem;
}

#progressBarFull {
    height: 100%;
    background: #2395FB;
    width: 20%;
}

#question {
    font-size: 2.1rem;
    margin-left: 1.7rem;
    margin-bottom: 2.2rem;
    max-width: 44rem;
    height: 5rem;
    @include respond(sm-phone) {
       font-size: 3rem;
     }
}
.hud__buttons {
    display: flex;
    gap:3rem;
    margin-left: 15rem;
}
.hud-btn {

    cursor: pointer;
    background-color: #2395fb;
    color: #ffffff;
    padding: 1.7rem 3.2rem;
    border: none;
    border-radius: 5px;
    
    @include respond(sm-phone) {
        font-size: 4rem;
     }
    &:hover {
        transition: filter .5s;
        filter: brightness(1.1);
    }

    &:active {
        transition: transform .2s;
        transform: translateY(2px);
    }

    @include respond (tab-port) {
        margin-bottom: 10rem;
    }
}


.quiz__finish {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: 19rem;
    &-checkmark {
        background-color: #00e900;
        color: #ffffff;
        border-radius: 50%;
        align-self: center;
        width: 26rem;
        height: 26rem;
        padding-left: 66px;
        font-size: 17rem;

    }

    &-text {
        font-size: 4rem;
        margin-top: 2rem;
    }
}


.hide {
    display: none;
}