*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing:border-box;
    font-size: 62.5%;
    
    @include respond(sm-desktop) {
        font-size: 50.5%;
    }
    @include respond(tab-land) {
        font-size: 40.5%;
    }
    @include respond(lg-phone-land) {
        font-size: 30.5%;
    }

    @include respond(md-phone) {
        font-size: 25.5%;
    }
    @include respond(sm-phone) {
        font-size: 19.5%;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    
}

button {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.container {
    width: 116rem;
    margin: 0 auto; 
}